Login/Login/resources/7. Environment/1. Are there some places with lots of things happening at once that you don’t like_ (e.g. places with lots of noise, bright lights and people)/2 Party (guided) (uncropped).jpg
